.body{
    margin:0px;
    height: 100vh;
    background-image: url("start.png");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x : hidden;
    position : absolute;


}


.dr1{
    position: absolute;
    margin-left: 100px;
}
.dr2{
    position: absolute;
    -webkit-transform: scaleX(-1);
    margin-left: 1100px;
}
.dr3{
        position: absolute;
        margin-left: 350px;
        margin-top: 400px;
}
.fl{
    position: absolute;
    height : 500px;
    margin-top: 150px;
    margin-left: 550px;
}

.li{
    position: absolute;
    margin-left: 800px;
    margin-top: 350px;
}

.btn{
    width: 200px;
    height: 90px;
    position: absolute;

    margin-top : 550px ;
    margin-left: 580px;

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(25, 219, 25);
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(25, 219, 25);
}